.mt80 {
    margin-top: 80px;
}

.mt17 {
    margin-top: 17px;
}

.mr17 {
    margin-right: 18px;
}

.f18 {
    font-size: 18px;
}

.f15 {
    font-size: 15px;
}

.fb {
    font-weight: bold;
}

.fc--orange {
    color: #FD764E;
}

.fc-base {
    color:  #372E28
}

// 可复用部分
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w100p {
    width: 100%;
}

.h100p {
    height: 100%;
}

.dib {
    display: inline-block;
}

.m0 {
    margin: 0;
}


