@import './common/index.scss';

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #372E28;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    align-items: flex-end;
    flex-direction: column;
}

.header-device {
    display: flex;
    align-items: center;
}

.main-bg {
    flex: 0 0 850px;
    height: 800px;
    background: url("/img/main.jpg") no-repeat;
    background-size: contain;
    background-position: center;
}

.main-desc {
    width: 18px;
    padding-left: 9px;
    padding-top: 32px;
    margin: 0;
    word-break: break-word;
}